.gallery {
    margin: 0 auto;
    width: 735px;
}

body {
    background-color: lightgrey;
}

h1 {
    text-align: center;
}

img {
    border-radius: 10px;
    -webit-border-radius: 10px;
}

.gallery img {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    animation-name: -wobble-to-top-right;;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.thumbnail {
    width: 800px;
    padding: 5px;
    margin: 15px auto;
}

.thumbnail img {
    width: 60px;
    height: 40px;
    margin-left: 24px
    /*-webkit-filter: blur(0px);
    filter: blur(0px);*/
}

.thumbnail img:hover {
    -webkit-transform: scale(1.5);
     transform: scale(1.5);
}

img.active {
    -webkit-transform: scale(1.5);
     transform: scale(1.5);
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

button {
    background: url('arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 50px;
    width: 50px;
    border: 0;
}

#left_arrow {
    transform: rotate(180deg);
}
