
.l-username,
.l-password,
.l-email,
.l-captcha,
.l-button {
  margin:0 0 15px;
  padding: 0;
  width: 290px;

}

.form-create-account input {
  width: 290px;
  height: 30px;
  padding: 4px 4px 4px 8px;
  box-sizing: border-box;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.form-create-account input:focus {
  border-color: #347bff;
  box-shadow: inset 0 0 0 2px #347bff;
  outline: 0;
}

.l-username p,
.l-password p,
.l-email p,
.l-captcha p,
.l-button p {
  margin: 5px 0;
  width: 100%;
}

.form-create-account {
  margin: 20px 0;
}

.l-button input {
  display: block;
  background-color: #00af89;
  color: #fff;
  border: 1px solid #00af89;
  text-shadow: 0 1px rgba(0,0,0,0.1);
}

.l-button input:hover {
  background-color: #008c6d;
}

::-webkit-input-placeholder {
  font-style: italic;
}

span {
  float: right;
  color: #0645ad;
}

.captcha-box {
  border: 1px solid black;
  background: #f6f6f6;
}

.captcha-box input {
  width: 270px;
  display: block;
  margin: 0 auto;
}
