body {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    background-color: grey
}



li {
    padding-top: 20px;
    padding-left: 17px;
}

.done {
    text-decoration: line-through;
    color: grey;
}

input[type="text"] {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}
.todo-box {
    margin: 0 auto;
    width: 500px;
}

.todo-container {
    background-color: white;
    border-radius: 4%;
    margin-top: 7px;
}
.new-todo {
    border: 2px solid black;
    height: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
}

.button-box {
    position: relative;
    float: right;
    clear: both;
    padding-right: 146px;
}

.new-todo {
    outline: none;
}

button:focus {
    outline: none;
}

button {
    margin-right: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 1px solid white;
}

button:hover {
    background-color: steelblue;
}

.add-button {
    background: url(add64.png) no-repeat;
    background-position: center;
}

.delete-button {
    background: url(cross102.png) no-repeat;
    background-position: center;
}

.done-button {
    background: url(check34.png) no-repeat;
    background-position: center;
}


/*::-webkit-input-placeholder {
    padding-top: 5px;
}

::placeholder {
    color: red;
};*/
